.container {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid;
    text-align: center;
    background-color: rgb(0, 255, 98);
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding a box shadow for the card effect */
    border-radius: 10px; /* Adding rounded corners for the card effect */
  }
  
    count {
      fontWeight: bold;
      fontSize: 20px;
    }
    button {
      padding: 5px ;
      border: 1px solid;
      cursor: pointer;
      }
      button1{
        padding: 2px;
        border: 0cm;
        margin-right: 5px;
      }
  
  
  